{% extends 'layout.html' %}

{% block title %} WairBest {% endblock %}

{% block content %}
  <div class="container text-center">
    <div id="main">
      <h1 class="logo">wair</h1>
        <form class="text-left">
          <h3 class="sub-heading">Find a cheap destination...</h3>
          <div class="form-group">
            <label for="airportSelect">Select an Airport</label>
            <select id="airportSelect" class="form-control">
              <option>
                London Gatwick
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="dateSelect">Select a Date & Time</label>
            <select id="dateSelect" class="form-control">
              <option>
                Mon 28th August, 2015
              </option>
            </select>
          </div>

          <input type="submit" class="btn btn-default" value="Search">
        </form>
      </div>
    </div>
{% endblock %}
