{% extends 'layout.html' %}

{% block title %} WairBest {% endblock %}

{% block content %}
  <div class="container text-center">
    <h3 class="sub-heading">Travel made Cheap</h3>
    <div id="main">
        <div id="form-wrapper">
          <form class="text-left">
            <div class="form-group" id="top-select">
              <label for="airportSelect">Select an Airport</label>
              <select id="airportSelect" class="form-control">
                <option>
                  London Gatwick
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="dateSelect">Select a Date & Time</label>
              <select id="dateSelect" class="form-control">
                <option>
                  Mon 28th August, 2015
                </option>
              </select>
            </div>
            <input type="submit" href="/results" class="btn btn-default" value="Search" id="search-button">
          </form>
        </div>
      </div>
    </div>
{% endblock %}
