// _text.scss
// headings, paragraphs &
// labels.
h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
}

.logo {
  font-size: 8em;
  margin-bottom: 30px;
  color: #FFF;
  text-shadow: 3px 0px #333;
}

.sub-heading {
  color: #8f8f8f;
  margin-bottom: 20px;
}

label {
  font-size: 1.5em;
}

.info-button {
  margin: 0;
  padding: 0;
}

.light {
  color: #808080;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
