// _text.scss
// headings, paragraphs &
// labels.
h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
}

.logo {
  font-size: 8em;
  margin-bottom: 30px;
  color: #333;
}

.sub-heading {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
  margin-top: 30px;
}

label {
  font-size: 1.5em;
}

.info-button {
  margin: 0;
  padding: 0;
}

.light {
  color: #808080;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

<<<<<<< HEAD
#results-subheading {
  color: #fff;
  font-size: 4em;
  font-weight: bolder;

}

.box-header {
  font-size: 4em;
}

// .star-bookmark {
//   display: block;
//   text-decoration: none;
//   color: #222;
//   font-size: 1.5em;
// }
//
// .star-bookmark:hover {
//   text-decoration: none;
// }
>>>>>>> 72f8762e91e6e8630040de9e1cb725816abfa753
