// styles.scss

@import 'text';

a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
/*select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  outline: 0;
  border: none;
}*/
body {
  // background-image: url('/assets/mountain.jpg');
  // background-size: cover no-repeat;
  // background-position: center 20%;

  font-family: 'PT Sans', 'Open Sans', sans-serif;
  // background-image: url(../assets/background_blurred.jpg);
  // background-image: url(../assets/airport.jpg);
  // background-size: 1500px auto;
  // background-position: 50% 30%;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  display: block;
  background: #333 url(../assets/london.jpg) no-repeat;
  background-size: 100px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.background-image {
  width: 100%;
  height: 100%;
}

#content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

#main {
  margin: 0 auto;
  width: (100% / 3);
  margin-top: 30px;
}

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%;
  }

  .sub-heading {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 768px){
  #main {
    margin: 0 auto;
    width: 80%;
  }
}

#form-wrapper {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;

  padding: 1em;
  margin-bottom: 10px;
}

#top-select {
  margin-bottom: 20px;
}

.navbar {
  border-bottom: 2px solid #ddd;
  font-size: 1.2em;
  color: #fff;

  padding-top: 0.3em;
  padding-bottom: 0.2em;
}

.nav {
  float: right;
}

@media (max-width: 768px) {
  .nav {
    float: left;
  }
}

.navbar-brand {
  font-size: 2em;
  color: #333;
}

.box {
  background: #FFF;
  border-radius: 0.2em;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;

  width: 100%;
  height: 50px;

  color: #FFF;
  padding: 5px;
  font-size: 1.5em;
}

#twitter-jesse, #twitter-jack{
  color: #FFF;
  font-weight: bolder;
}

#made-by {
  text-align: left;

}

#search-button {
  width: 100%;
  color: #fff;
  outline: 0;
  border: none;
  background-color: #76B1E2;

  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.5em;
}

#search-button:hover {
  opacity: 0.9;
}

#logo {
  width: 3em;
  margin-left: 1px;
  margin-top: -2px;

  opacity: 0.7;
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;

}

#logo:hover {
  opacity: 0.9;
}

input::-moz-focus-inner {
    border: 0;
}
