// styles.scss

@import 'text';

body {
  // background-image: url('/assets/mountain.jpg');
  // background-size: cover no-repeat;
  // background-position: center 20%;

  font-family: 'PT Sans', 'Open Sans', sans-serif;
  // background-image: url(../assets/background_blurred.jpg);
  // background-image: url(../assets/airport.jpg);
  // background-size: 1500px auto;
  // background-position: 50% 30%;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  display: block;
  background-image: url(../assets/london.jpg);
  background-size: 1200px auto;
  background-position: 50% 50%;
}

.background-image {
  width: 100%;
  height: 100%;
}

#content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

#main {
  margin: 0 auto;
  width: (100% / 3);
  margin-top: 30px;
}

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%;
  }

  .sub-heading {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 768px){
  #main {
    margin: 0 auto;
    width: 80%;
  }
}

.box-shad {
  box-shadow: 1px 1px 2px #555;
}

#form-wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;

  padding: 1em;
  margin-bottom: 10px;
}

#top-select {
  margin-bottom: 20px;
}

.navbar {
  background-color: #FFF;
  font-size: 1.2em;
  color: #333;

  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.nav {
  float: right;
}

@media (max-width: 768px) {
  .nav {
    float: left;
  }
}

.navbar-brand {
  font-size: 2em;
  color: #333;
}

.box {
  background: #FFF;
  border-radius: 1em;
  padding: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;

  background: #FFF;
  padding: 5px;
}


#search-button {
  width: 100%;
  color: #fff;
  outline: 0;
  border: none;
  background-color: #76B1E2;

  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.5em;
}

#search-button:hover {
  opacity: 0.9;
}

#logo {
  width: 4em;
  margin-left: 1px;

  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;

}

#logo:hover {
  opacity: 0.9;
}
