// styles.scss

@import 'text';

body {
  // background-image: url('/assets/mountain.jpg');
  // background-size: cover no-repeat;
  // background-position: center 20%;

  font-family: 'PT Sans', 'Open Sans', sans-serif;
  background-image: url(../assets/background.jpg);
  background-size: 1500px auto;
  background-position: 50% 30%;
}

#main {
  margin: 0 auto;
  width: (100% / 3);
  margin-top: 30px;
}

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%;
  }

  .sub-heading {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 768px){
  #main {
    margin: 0 auto;
    width: 80%;
  }
}

#form-wrapper {
  width: 100%;
  border-radius: 1em;
  padding: 2em;
  background-color: #fff;
}

#top-select {
  margin-bottom: 20px;
}

.navbar {
  border-bottom: 10px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
}
