body {
  font-family: 'PT Sans', 'Open Sans', sans-serif; }

#main {
  margin: 0 auto;
  width: 33.33333%; }

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%; } }

.logo {
  font-size: 5em;
  margin-bottom: 30px; }

label {
  font-size: 1.5em; }
