h1,
h2,
h3,
h4,
h5 {
  margin: 5px; }

.logo {
  font-size: 8em;
  margin-bottom: 30px;
  color: #333; }

.sub-heading {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
  text-shadow: 4px 4px #C0C0C0;
  margin-top: 1em;
  margin-bottom: 1em; }

label {
  font-size: 1.5em; }

.info-button {
  margin: 0;
  padding: 0; }

.light {
  color: #808080; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.box-header {
  font-size: 4em; }

.form-group {
  color: #636363; }

.sub-heading2 {
  color: #fff;
  font-weight: bolder;
  margin-top: -4em; }

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  background-image: url(../assets/background_blurred.jpg);
  background-size: 1500px auto;
  background-position: 50% 30%; }

#main {
  margin: 0 auto;
  width: 33.33333%;
  margin-top: 30px; }

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%; }
  .sub-heading {
    font-size: 3em; } }

@media (max-width: 1000px) and (min-width: 768px) {
  #main {
    margin: 0 auto;
    width: 80%; } }

#form-wrapper {
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  background-color: #fff;
  margin-bottom: 10px; }

#top-select {
  margin-bottom: 20px; }

.navbar {
  background-color: #FFF;
  font-size: 1.2em;
  color: #333;
  box-shadow: 3px 3px 3px #C0C0C0;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

.navbar-brand {
  font-size: 2em;
  color: #333; }

.box {
  background: #FFF;
  border-radius: 1em;
  padding: 10px; }

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: #FFF;
  padding: 5px; }

#search-button {
  padding: 0.5em;
  width: 100%;
  color: #fff;
  outline: 0;
  border: none;
  font-weight: bolder;
  font-size: 1.2em;
  background-color: #76B1E2; }
