h1,
h2,
h3,
h4,
h5 {
  margin: 5px; }

.sub-heading {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
  text-shadow: 1px 2px #555;
  margin-top: 1em;
  margin-bottom: 1em; }

label {
  font-size: 1.5em; }

.info-button {
  margin: 0;
  padding: 0; }

.light {
  color: #808080; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.box-header {
  font-size: 4em; }

.form-group {
  color: #636363; }

a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
  outline: 0; }

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif; }

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../assets/london.jpg);
  background-size: 1200px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.background-image {
  width: 100%;
  height: 100%; }

#content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999; }

#main {
  margin: 0 auto;
  width: 33.33333%;
  margin-top: 30px; }

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%; }
  .sub-heading {
    font-size: 3em; } }

@media (max-width: 1000px) and (min-width: 768px) {
  #main {
    margin: 0 auto;
    width: 80%; } }

.box-shad {
  box-shadow: 1px 1px 2px #555; }

#form-wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 10px; }

#top-select {
  margin-bottom: 20px; }

.navbar {
  background-color: #FFF;
  font-size: 1.2em;
  color: #333;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

.nav {
  float: right; }

@media (max-width: 768px) {
  .nav {
    float: left; } }

.navbar-brand {
  font-size: 2em;
  color: #333; }

.box {
  background: #FFF;
  border-radius: 0.2em;
  padding: 10px; }

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: #FFF;
  padding: 5px; }

#search-button {
  width: 100%;
  color: #fff;
  outline: 0;
  border: none;
  background-color: #76B1E2;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.5em; }

#search-button:hover {
  opacity: 0.9; }

#logo {
  width: 4em;
  margin-left: 1px;
  margin-top: -5px;
  opacity: 0.7;
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat; }

#logo:hover {
  opacity: 1; }

input::-moz-focus-inner {
  border: 0; }
