.logo {
  font-size: 8em;
  margin-bottom: 30px; }

.sub-heading {
  color: #8f8f8f; }

label {
  font-size: 1.5em; }

.info-button {
  margin: 0;
  padding: 0; }

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif; }

#main {
  margin: 0 auto;
  width: 33.33333%; }

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%; } }
