h1,
h2,
h3,
h4,
h5 {
  margin: 5px; }

.logo {
  font-size: 8em;
  margin-bottom: 30px;
  color: #333; }

.sub-heading {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
  margin-top: 30px; }

label {
  font-size: 1.5em; }

.info-button {
  margin: 0;
  padding: 0; }

.light {
  color: #808080; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

<<<<<<< HEAD
#results-subheading {
  color: #fff;
  font-size: 4em;
  font-weight: bolder; }
=======
.box-header {
  font-size: 4em; }
>>>>>>> 72f8762e91e6e8630040de9e1cb725816abfa753

body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  background-image: url(../assets/background.jpg);
  background-size: 1500px auto;
  background-position: 50% 30%; }

#main {
  margin: 0 auto;
  width: 33.33333%;
  margin-top: 30px; }

@media (max-width: 768px) {
  #main {
    margin: 0 auto;
    width: 100%; }
  .sub-heading {
    font-size: 3em; } }

@media (max-width: 1000px) and (min-width: 768px) {
  #main {
    margin: 0 auto;
    width: 80%; } }

#form-wrapper {
  width: 100%;
  border-radius: 1em;
  padding: 2em;
  background-color: #fff; }

#top-select {
  margin-bottom: 20px; }

.navbar {
<<<<<<< HEAD
  border-bottom: 7px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em; }

.navbar-brand {
  font-size: 2em; }
=======
  border-bottom: 10px solid #fff;
  background-color: rgba(255, 255, 255, 0.5); }

.box {
  background: #FFF;
  border-radius: 1em;
  padding: 10px; }
>>>>>>> 72f8762e91e6e8630040de9e1cb725816abfa753
